.blog {
  background: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
}
.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imgBanner{
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 20vh;
}
.bannerContent{
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.titlesBanner {
  font-size: 2rem;
}
.content {
  display: grid;
  gap: 2rem;
  padding: 1rem 0.6rem;
}
.recentNews {
  /* border: 1px solid blue; */
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 5px;
}
.recentNewsTitle {
  font-size: 1.3rem;
}
.recentNews > div {
  /* border: 1px solid black; */
  width: 100%;
}
.postItem {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 2px 1px 4px #ccc;
  transition: 0.1s ease;
}
.postItem:hover {
  cursor: pointer;
}
.postItem:active {
  background: #e4e4e4;
}
.verMasPosts{
  border: none;
  border-radius: 5px;
  position: absolute;
  background: var(--main-bg-color);
  right: 30px;
}
.verMasPosts:hover{
  cursor: pointer;
}

@media (width <= 768px) {
  .titlesBanner {
    font-size: 1.5rem;
    text-align: center;
  }
  .content {
    display: flex;
    flex-direction: column;
  }
  .postItem {
    height: 29vh;
  }
}