
 .loginContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fff;
    /* border: 1px solid red; */
    /* position: relative; */
  }

  .loginBox {
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
  }
  
  .loginTitle {
    margin-bottom: 2rem;
    text-align: center;
    color: #09434c;
    font-size: 2rem;
  }
  
  .loginForm {
    display: flex;
    flex-direction: column;
  }
  
  .inputGroup {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .icon {
    position: absolute;
    left: 10px;
    top: 54%;
    opacity: .6;
  }
  
  .label {
    color: #09434c;
    display: block; /* Asegúrate de que la etiqueta sea un bloque para que el input aparezca debajo */
    margin-bottom: 5px; /* Ajustado para el espaciado correcto */
  }
  
  .inputField {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc; /* Añadido para visualizar el borde */
    border-radius: 8px;
    background: #F2F2F2;
  }
  
  /* Selecciona el icono inmediatamente después del input enfocado*/
  
  .checkboxGroup {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .checkbox {
    margin-right: 0.5rem;
  }
  
  .checkboxLabel {
    font-size: 0.875rem;
    color: #333;
  }
  
  .loginButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem;
    background-color: #188fa2;
    border: none;
    border-radius: 35px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  
  .loginButton:hover {
    background-color: #138496;
  }
  
  .forgotPassword {
    display: block;
    text-align: center;
    margin-top: 1rem;
    color: #007bff;
    text-decoration: none;
  }
  
  .forgotPassword:hover {
    text-decoration: underline;
  }
  